body {
    font-family: 'Quicksand', sans-serif;
    h5.inline {
        display: inline-block;
    }
    .song-item {
        iframe {
            max-height: 35px;
            max-width: 35px;
            overflow: hidden;
            border-radius: 100%;
        }
    }
    nav.nav-orange {
        background-color: #000;
        .navbar-brand {
            color: #FFF;
            font-weight: 300;
            font-size: 1.750rem;
        }
    }
    figure {
        margin: 0;
    }
    .jumbotron {
        margin: 0;
    }
    .smoke-gray {
        background: #f5f5f5;
    }
    .card {
        box-shadow: none;
        iframe {
            max-width: 100%;
            border: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            max-height: 240px;
            clear: both;
            display: block;
        }
        a {
            .card-body {
                padding: 10px;
                background: #90b0c8;
                h5.card-title {
                    margin: 0 5px 0 0;
                    padding: 0;
                    font-weight: 500;
                    color: #FFF;
                }
                p {
                    font-weight: 300;
                    color: #333;
                    margin: 0; 
                }
            }
        }
    }

    .artist-page, 
    .album-page {
        min-height: 100%;
        .artist-page-info, 
        .album-page-info {
            background-color: #90b0c8;
            .artist-page-padding, 
            .album-page-padding {
                padding: 4%;
            }
            h3 {
                a {
                    margin: 0;
                    padding: 0;
                    color: #333;
                    text-decoration: none;
                }
            }
            img {
                max-width: 100%;
                overflow: hidden;
            }
            a {
                padding: 5px 0;
                display: inline-block;
            }
            p {
                padding: 10px 0;
                line-height: 1.750rem;
            }
        }
        .album-songs {
            background-color: #ddd;
        }
        .card-body {
            padding: 10px;
            background: #90b0c8;
            h5.card-title {
                margin: 0 5px 0 0;
                padding: 0;
                font-weight: 500;
                color: #FFF;
            }
            p {
                font-weight: 300;
                color: #333;
                margin: 0; 
            }
        }
    }
}