@font-face {
    font-family: 'ndtypeone-regular';
    src: url('../fonts/ndtypeone-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ndtypeone-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ndtypeone-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ndtypeone-Regular.woff') format('woff'); /* Legacy iOS */
}
@font-face {
    font-family: 'ndtypeone-medium';
    src: url('../fonts/ndtypeone-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ndtypeone-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ndtypeone-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ndtypeone-Medium.woff') format('woff'); /* Legacy iOS */
}
@font-face {
    font-family: 'ndtypeone-bold';
    src: url('../fonts/ndtypeone-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ndtypeone-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ndtypeone-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ndtypeone-Bold.woff') format('woff'); /* Legacy iOS */
}

html, body {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    height: 100%;
    font-family: 'ndtypeone-regular';
    text-rendering: optimizeLegibility;
}
body {
    background-color: #000;
}
strong {
    font-family: 'ndtypeone-bold';
}
.central {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 50px 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.notdef-logo {
    width: 375px;
    height: 185px;
    background-image: url(../img/notdef-logo_751x371.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.workshop-logo {
    width: 466px;
    height: 193px;
    background-image: url(../img/workshop-logo.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.newsletter-box {
    position: relative;
}
h2.newsletter {
    margin: 50px 0 20px 0;
    text-align: left;
    font-family: 'ndtypeone-medium';
    font-size: 1.500rem;
    height: 2rem;
    line-height: 2rem;
}
h2.newsletter span {
    font-family: 'ndtypeone-regular';
    font-size: .8rem;
    color: #ed145b;
}
.newsletter-lang-form {
    position: relative;
    height: 190px;
}
.newsletter-lang {
    position: absolute;
    left: 0;
    width: 250px;
    margin: 0;
    border: 1px solid #fff;
}
.newsletter-lang ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.newsletter-lang ul li {
    padding: 10px 20px;
    margin: 0;
    text-align: left;
    font-family: 'ndtypeone-regular';
    font-size: 1.2rem;
    height: 53px;
    line-height: 2rem;
    color: #fff;
    background-color: #000;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.newsletter-lang ul li span {
    color: #ed145b;
}
.newsletter-lang ul li:hover {
    background-color: #ed145b;
}
.newsletter-lang ul li:hover span {
    color: #fff;
}
.newsletter-lang ul li:last-child {
    border: none;
}
.newsletter-form {
    position: absolute;
    left: 2000px;
    width: 350px;
    background-color: #000;
    display: none;
}
.newsletter-form input {
    width: 352px;
    height: 55px;
    padding: 10px 20px;
    margin: 0;
    font-family: 'ndtypeone-regular';
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: left;
    color: #ed145b;
    background-color: #000;
    border: 1px solid #fff;
}
.newsletter-form input.notbordertop {
    border-top: none;
}
.newsletter-form button {
    position: absolute;
    right: -2px;
    bottom: -55px;
    height: 2rem;
    line-height: 0;
    padding: 20px;
    margin: 0;
    font-family: 'ndtypeone-regular';
    font-size: 1.2rem;
    text-align: center;
    color: #959595;
    background-color: #000;
    border: 1px solid #959595;
    cursor: not-allowed;
}
.newsletter-form span.arrow {
    position: absolute;
    left: 0px;
    bottom: -52px;
    width: 300px;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    text-align: left;
    color: #fff;
    cursor: pointer;
}
.newsletter-contact {
    position: relative;
}
.newsletter-contact p {
    line-height: 1.650rem;
    margin: 0;
    padding: 0;
    font-family: 'ndtypeone-regular';
    font-size: 1rem;
    font-weight: 100;
}
.newsletter-contact p a {
    color: #fff;
    text-decoration: none;
}
.newsletter-contact p a:hover {
    color: #ed145b;
}
.newsletter-contact p.strong {
    font-family: 'ndtypeone-bold';
}
.newsletter-thanks {
    position: absolute;
    top: 50%;
    left: 2000px;
    width: 420px;
    margin: -40px auto;
    padding: 10px 20px;
    background-color: #ed145b;
    border: 1px solid #fff;
    text-align: center;
    font-family: 'ndtypeone-regular';
    font-size: 1.2rem;
    line-height: 2rem;
    display: none;
    overflow: hidden;
}






/* WORKSHOP */
.workshop-central {
    position: relative;
    margin: 100px auto 100px auto;
    width: 525px;
    letter-spacing: 1px;
}
.workshop-logo {
    width: 466px;
    height: 193px;
    background-image: url(../img/workshop-logo.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.workshop-box {
    position: relative;
}
.workshop-date {
    margin: 65px 0 0 0;
    font-family: 'ndtypeone-regular';
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: #fff;
}
h1.workshop-title {
    margin: 10px 0 0 0;
    font-family: 'ndtypeone-regular';
    font-weight: 100;
    font-size: 2.250rem;
    line-height: 2.250rem;
    color: #ec008c;
}
h2.workshop-author {
    margin: 15px 0 0 0;
    font-family: 'ndtypeone-regular';
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
}
h3.workshop-content {
    margin: 65px 0 0 0;
    font-family: 'ndtypeone-medium';
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #ec008c;
}
.workshop-topics ul {
    list-style: none;
    margin: 25px 0 0 0;
    padding: 0;
}
.workshop-topics ul li {
    padding: 0;
    margin: 0 0 35px 0;
    text-align: left;
    font-family: 'ndtypeone-regular';
    font-size: 1.5rem;
    font-weight: 100;
    height: auto;
    line-height: 2.250rem;
    color: #fff;
    background-color: #000;
}
h3.workshop-prerequisito {
    margin: 40px 0;
    font-family: 'ndtypeone-medium';
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #ec008c;
}
.text-box p {
    padding: 0;
    margin: 0 0 40px 0;
    text-align: left;
    font-family: 'ndtypeone-regular';
    font-size: 1.5rem;
    font-weight: 100;
    height: auto;
    line-height: 2.250rem;
    color: #fff;
    background-color: #000;
}
.text-box p span {
    font-size: 1.250rem;
}
.text-box p a {
    color:  #ec008c;
    text-decoration: none;
}
h3.workshop-sobre {
    margin: 40px 0;
    font-family: 'ndtypeone-medium';
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #ec008c;
}
h3.workshop-cadastro {
    margin: 40px 0;
    font-family: 'ndtypeone-medium';
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.750rem;
    color: #ec008c;
}
.workshop-info ul {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
}
.workshop-info ul li {
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: 'ndtypeone-regular';
    font-size: 1.5rem;
    font-weight: 100;
    height: auto;
    line-height: 2.250rem;
    color: #ec008c;
    background-color: #000;
}
.workshop-info ul li span, .workshop-info ul li span a {
    color: #fff;
}
h3.workshop-paypal {
    margin: 80px 0 40px 0;
    font-family: 'ndtypeone-medium';
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.750rem;
    color: #ec008c;
}
button.paypal {
    width: 98%;
    height: 2rem;
    line-height: 0;
    padding: 20px 0;
    margin: -10px 0 20px 0;
    font-family: 'ndtypeone-medium';
    font-size: 1.250rem;
    text-align: center;
    color: #000;
    background-color: #ec008c;
    border: 0;
    cursor: pointer;
}
p.paypal-text {
    font-size: 1.250rem;
}
h3.workshop-duvidas {
    margin: 40px 0 10px 0;
    font-family: 'ndtypeone-medium';
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.750rem;
    color: #ec008c;
}
.workshop-contact a {
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: 'ndtypeone-regular';
    font-size: 1.5rem;
    font-weight: 100;
    height: auto;
    line-height: 2rem;
    color: #fff;
    text-decoration: none;
}
.workshop-box {
    position: relative;
    margin: 10px 0;
    height: 200px;
    display: block;
}
.workshop-form {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #000;
    display: block;
}
.workshop-form input {
    width: 100%;
    line-height: 2rem;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    font-family: 'ndtypeone-regular';
    font-size: 1.250rem;
    text-align: left;
    color: #ec008c;
    background-color: #000;
    border: 1px solid #ec008c;
}
.workshop-form button {
    width: 100%;
    line-height: 0;
    padding: 20px 0;
    margin: 0;
    font-family: 'ndtypeone-medium';
    font-size: 1.250rem;
    text-align: center;
    color: #000;
    background-color: #393939;
    border: 0;
    cursor: not-allowed;
}
.workshop-thanks {
    position: absolute;
    top: 50%;
    left: 2000px;
    width: 420px;
    margin: -40px auto;
    padding: 10px 20px;
    color: #000;
    background-color: #ec008c;
    border: 0;
    text-align: center;
    font-family: 'ndtypeone-medium';
    font-size: 1.2rem;
    line-height: 2rem;
    display: none;
    overflow: hidden;
}

/* EDU.notdef.com.br */

body.edu {
    width: 100%;
    height: 100%;
    background-color: #4A0808;
}
section.top {
    position: relative;
    width: 100%;
    height: 68px;
    background-color: #FF372D;
}
section.top div {
    width: 280px;
    height: auto;
    margin: 0;
}
section.top div h1 {
    width: 280px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
    font-size: .875rem;
    font-weight: 100;
    line-height: 65px;
    letter-spacing: 1px;
    color: #FFF7ED;
    text-align: center;
}
section.top div h1 img {
    margin: auto 10px auto auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.block-edu {
    position: relative;
    margin: 115px 0 0 100px;
}
.block-item {
    position: relative;
    width: 360px;
    margin: 0 0 75px 0;
    letter-spacing: 1px;
}
.block-item p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #FF372D;
}
.block-item.mailmkt p {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #FFF7ED;
}
.block-item p.title {
    font-weight: 900;
    color: #FFF7ED;
}
.block-item button {
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: #D84E2E;
    border: 1px solid #FFF7ED;
}
.block-item button a {
    color: #FFF7ED;
    display: block;
    text-decoration: none;
    font-size: .875rem;
    font-family: 'ndtypeone-regular';
}
.block-item  a {
    color: #FFF7ED;
    display: block;
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.5rem;
}
.block-item a:hover {
    text-decoration: underline;
}
.mailmkt-box {
    margin: 20px 0 0 0;
}
.mailmkt-form input {
    width: 356px;
    height: 39px;
    margin: 0 0 5px 0;
    padding: auto 0 auto 10px;
    color: #4A0808;
    font-size: .750rem;
    text-indent: 10px;
    border: 1px solid #FF372D;
}
.mailmkt-form input::placeholder {
    padding: auto 0 auto 10px;
    color: #4A0808;
}
.mailmkt-form button {
    margin: 5px 5px 0 0;
    float: right;
    color: #FFF7ED;
    background-color: #D84E2E;
    border: 0;
    cursor: not-allowed;
    font-family: 'ndtypeone-regular';
}
.mailmkt-thanks {
    font-size: .875rem;
    line-height: 1.5rem;
    display: none;
    font-family: 'ndtypeone-regular';
}

.block-item.social {
    margin: 120px 0 0 0;
}

/* BLOG */

body.blog .container {
    max-width: 680px;
}

body.blog {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
section.blog-top {
    position: relative;
    width: 100%;
    height: 68px;
    background-color: #000;
}
section.blog-top div {
    width: 280px;
    height: auto;
    margin: 0;
}
section.blog-top div h1 {
    margin: 0 0 0 70px;
    padding: 0;
    text-align: left;
}
section.blog-top div h1 a {
    font-size: .875rem;
    font-weight: 100;
    line-height: 85px;
    letter-spacing: 1px;
    color: #FFF7ED;
}
section.blog-top div h1 i {
    position: absolute;
    top: 21px;
    left: 28px;
    width: 32px;
    height: 32px;
    display: block;
    background: url(../img/notdef-logo-blog.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}
section.blog-top nav.menu-blog {
    position: absolute;
    top: 35px;
    right: 25px;
}
section.blog-top nav.menu-blog ul li {
    display: inline-block;
}
section.blog-top nav.menu-blog ul li:after {
    margin: 0 0 0 5px;
    content: "|";
    font-size: 12px;
    color: #FFF7ED;
}
section.blog-top nav.menu-blog ul li:last-child:after {
    content: "";
}
section.blog-top nav.menu-blog ul li a {
    font-size: 12px;
    color: #FFF7ED;
}


.blog-list {
    margin: 130px 0 0 0;
}
.blog-list-item {
    width: 100%;
    min-height: 397px;
}
.blog-list-img {
    text-align: center;
    background: transparent;
    border-radius: 100%;
}
.blog-list-img img {
    border-radius: 100%;
    max-width: 172px;
    height: auto;
}
.blog-list-item h2 {
    max-width: 60%;
    margin: 10px auto;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #8B787F;
    text-align: center;
}
.blog-list-item-tags {
    max-width: 80%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.blog-list-item-tags a {
    margin: 0 5px 0 0;
    font-size: .750rem;
    line-height: 1.5rem;
    color: #E21765;
}
.blog-list-item-tags a:before {
    content: "#";
    font-size: .750rem;
    line-height: 1.5rem;
    color: #E21765;
}
.tag-list {
    position: absolute;
    right: 40px;
}
.tag-list h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #707070;
}
.tag-list ul {
    margin: 40px 0 0 0;
    padding: 0;
    list-style: none;
}
.tag-list ul li a {
    font-size: .750rem;
    line-height: 1.5rem;
    list-style-type: none;
    color: #E21765;
}
.tag-list ul li:before {
    font-size: .750rem;
    line-height: 1.5rem;
    content: "#";
    color: #E21765;
}

/* BLOG POST*/
.blog-post {
    margin: 0;
    padding: 0;
}
.blog-post-banner {
    position: relative;
    width: 100%;
    max-height: 353px;
    overflow: hidden;
}
.blog-post-banner img {
    max-width: 100%;
    height: auto;
}
.space100 {
    position: relative;
    width: 100%;
    height: 100px;
    clear: both;
}
.space50 {
    position: relative;
    width: 100%;
    height: 50px;
    clear: both;
}
.blog-post-body h1 {
    position: relative;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    line-height: 54px;
    padding: 0;
    margin: 0;
    color: #E21765;
    display: block;
    text-align: left;
}
.blog-post-body h2 {
    position: relative;
    width: 100%;
    font-size: 30px;
    line-height: 54px;
    padding: 0;
    margin: 0;
    color: #E21765;
    display: block;
    text-align: left;
}
.blog-post-body h3 {
    position: relative;
    width: 100%;
    font-size: 18px;
    line-height: 54px;
    padding: 0;
    margin: 0;
    color: #E21765;
    display: block;
    text-align: left;
    text-transform: lowercase;
}
.blog-post-body p {
    position: relative;
    width: 100%;
    font-size: 22px;
    line-height: 47px;
    padding: 0;
    margin: 0;
    color: #8B787F;
    display: block;
}
.blog-post-body {
    position: relative;
    width: 100%;
}


/* Estilo dentro do TinyMCE Editor WYSIWYG*/
.blog-post-body .blog-body-text h2 {
    position: relative;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
    margin: 0;
    color: #E21765;
    display: block;
}
.blog-post-body .blog-body-text h3 {
    position: relative;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
    margin: 0;
    color: #E21765;
    display: block;
}
.blog-post-body .blog-body-text p {
    position: relative;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    padding: 0;
    margin: 0 0 25px 0;
    color: #8B787F;
    display: block;
}
.blog-post-body .blog-body-text a {
    font-size: 16px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    color: #E21765;
    text-decoration: none;
}
.blog-post-body img {
    max-width: 100%;
    margin: 20px 0;
    height: auto;
    overflow: hidden;
}
/* Fim do Estilo dentro do TinyMCE Editor WYSIWYG*/

.blog-post-tags {
    position: relative;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    color: #E21765;
}
.blog-post-tags span {
    margin: 0 15px 20px 0;
    font-weight: bold;
    float: left;
    display: block;
}
.blog-post-tags ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.blog-post-tags ul li {
    font-size: 14px;
    line-height: 26px;
    display: inline-block;
}
.blog-post-tags ul li a {
    font-size: 14px;
    line-height: 26px;
    color: #E21765;
}
.blog-post-tags ul li:before {
    content: "#";
    color: #E21765;
}
.blog-post-tags ul li:after {
    content: ", ";
    color: #E21765;
}
.blog-post-tags ul li:last-child:after {
    content: "";
    color: #E21765;
}
.blog-post-signature {
    position: relative;
    width: 100%;
    height: 120px;
    border-top: 1px solid #E21765;
    border-bottom: 1px solid #E21765;
}
.blog-post-signature-img {
    position: relative;
    width: 83px;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    overflow: hidden;
}
.blog-post-signature-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 83px;
    margin: auto;
    border-radius: 100%;
}
.blog-post-signature-info {
    position: relative;
    margin: 20px 0 0 20px;
    padding: 0;
    float: left;
    display: block;
}
.blog-post-signature-info h3 {
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    color: #8B787F;
}
.blog-post-signature-info h4 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: lowercase;
    color: #8B787F;
}
.blog-post-signature-info h5 {
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    line-height: 15px;
    color: #8B787F;
}

.blog-post-more p a {
    font-size: 18px;
    color: #E21765;
    text-decoration: none;
}


@media (max-width: 1024px) {
    .blog-list-item-tags {
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    section.top {
        width: 101%;
    }
    .block-edu {
        width: 90%;
        margin: 5%;
    }
    .block-item p {
        font-size: 1rem;
    }
    .mailmkt-form input {
        width: 90%;
    }
    .mailmkt-form button {
        margin: 5px 36px 0 0;
    }

    .blog-list-item-tags {
        max-width: 70%;
    }
    .tag-list {
        right: initial;
        left: 40px;
        margin: 100px 0 100px 0;
    }
}

@media (max-height: 568px)
{
    .central {
        margin: 40px 0;
    }
}

/* Workshop */

@media (max-width: 550px) {
    .workshop-central {
        width: 90vw;
        margin: 1vh 5vw;
    }
    .workshop-logo {
        max-width: 100%;
        background-size: contain;
    }
    body.blog .container {
        padding-right: 24px;
        padding-left: 24px;
    }
}


@media (max-width: 420px)
{
    .central {
        width: 86%;
    }
    .notdef-logo {
        max-width: 100%;
        background-image: url(../img/notdef-logo_375x185.png);
        background-size: contain;
    }
    .newsletter-box h2 {
        margin: 10px 0 10px 0;
        font-size: 1.200rem;
    }
    .newsletter-lang-form {
        height: 170px;
    }
    .newsletter-lang {
        width: 100%;
    }
    .newsletter-lang ul li {
        padding: 5px 20px;
        font-size: 1rem;
    }
    .newsletter-lang ul li:hover {
        background-color: #000;
    }
    .newsletter-contact p {
        height: 1.250rem;
        line-height: 1.250rem;
        font-size: .8rem;
    }
    .newsletter-form {
        width: 100%;
    }
    .newsletter-form input {
        width: 100%;
        line-height: 1.5rem;
        padding: 10px;
        font-size: 1rem;
    }
    .newsletter-form button {
        right: 0;
        font-size: 1rem;
    }
    .newsletter-thanks {
        width: 100%;
        padding: 12px 0;
        font-size: 1rem;
    }
    .workshop-contact a {
        font-size: 1.125rem;
    }

    section.blog-top nav.menu-blog {
        display: none;
    }

    .blog-post-signature-img {
        width: 18%;
    }
    .blog-post-signature-img img {
        max-width: 98%;
    }
    .blog-post-signature-info {
        position: relative;
        margin: 20px 0 0 2%;
        width: 80%;
        padding: 0;
        float: left;
        display: block;
    }
    .blog-post-signature-info h3 {
        font-size: 14px;
    }
    .blog-post-signature-info h4 {
        font-size: 11px;
        line-height: 12px;
    }
    .blog-post-signature-info h5 {
        font-size: 11px;
    }
    
}


@media (max-width: 320px) {
    section.top {
        width: 115%;
    }
    .block-edu {
        margin: 10px;
    }

    .blog-post-signature-info {
        margin: 22px 0 0 2%;
    }
    .blog-post-signature-info h3 {
        font-size: 12px;
    }
    .blog-post-signature-info h4 {
        font-size: 9px;
        line-height: 10px;
    }
    .blog-post-signature-info h5 {
        font-size: 10px;
    }
}
